 body{
  color: white;
  font-family: 'Julius Sans One';
  margin: 0px;
  background-image: url('../images/fondo.jpg');
  background-size: cover;
  background-attachment: fixed;
}
A {
  text-decoration: none;
  color: white;
}
li{
  list-style:none
}

nav li{
  padding: 0 5px;
}

button {
  position: relative;
  left: 615px;
  margin-top: 20px;
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 10px 20px;
  font-family: 'Varela Round';
  font-size: 15px;
  cursor: pointer;
}

input:focus, textarea:focus{
  background: lightgray;
}

.btn-enviar{
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 10px 20px;
  font-family: 'Varela Round';
  font-size: 15px;
  margin: 20px 0 50px 218px;
}

.menu, .menu li {
  display: inline-block;
}


.menu{
  position: absolute;
  right: 7px;
  top: 55px;
}

.titulo {
  font-size: 70px;
  margin-bottom: 10px;
}

.title-a {
  font-size: 24px;
  padding-left: 48px;
  margin-top: 20px;
}

.postres h2 {
  font-size: 35px;
}

.title-b {
  font-size: 50px;
  font-family: 'Dancing Script';
}

.portada{
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.postres {
  color: white;
}
.header {
  background: black;
  color: white;
  font-size: 24px;
}

.logotipo{
  margin: 0;
}

.contenedor {
  width: 900px;
  margin: auto;
}

.cheesecake{
    border-radius: 20px;
    overflow: hidden;
}

.frutosrojos h3{
  margin-top: 10px;
  margin-left: 130px;
}

.limon h3{
  margin-top: 10px;
  margin-left: 255px;
}

.maracuya h3{
  padding-left: 411px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.arequipe h3{
  padding-left: 411px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.frutosrojos, .limon, .arequipe, .maracuya{
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
}

.frutosrojos img, .limon img{
  border-radius: 50px;
  float: right;
  margin: 10px;
}

.arequipe img, .maracuya img{
  border-radius: 50px;
  float: left;
  margin: 10px;
}
.arequipe li{
  padding-left: 220px;
}

.footer {
  background: black;
}

.contacto img, .contacto strong {
  display: block;
}

.img-footer{
  margin: 0 60px 0 60px;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto a, .contacto p{
  margin: 10px 0px 10px 0;
}

.footer .contenedor-footer{
  width: 1100px;
  margin: auto;
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.formulario{
  display: flex;
  width: 640px;
  padding-top: 50px;
}

.col1, .col2{
  display: flex;
  flex-direction: column;
}

.col1{
  margin-right: 40px;
}

.col2{
  align-items: flex-start;
}

.intereses label{
  font-size: 12px;
}

.formulario label{
  margin-bottom: 10px;
}

.formulario label, .intereses{
  margin-top: 15px;
}
