 body{
  color: white;
  font-family: 'Julius Sans One';
  margin: 0px;
  background-image: url('../images/fondo.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

A {
  text-decoration: none;
  color: white;
}
li{
  list-style:none
}

nav li{
  padding: 0 5px;
}

button {
  margin: 20px 0 50px 70%;
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 10px 20px;
  font-family: 'Varela Round';
  font-size: 15px;
  cursor: pointer;
}

input:focus, textarea:focus{
  background: lightgray;
}

.menu ul{
  padding: 0;
}

.fondo{
  flex:1;
}
.btn-enviar{
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 10px 20px;
  font-family: 'Varela Round';
  font-size: 15px;
  margin: 20px 20px 50px 180px;
}

.menu, .menu li {
  display: inline-block;
}

.titulo {
  font-size: 60px;
  margin-bottom: 10px;
}

.title-a {
  font-size: 25px;
  padding-left: 48px;
  margin-top: 20px;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: lighter;
}

.postres h2 {
  font-size: 40px;
}

.title-b {
  font-size: 45px;
  font-family: 'Dancing Script';
}

.cheesecake p{
  font-family: 'Kalam', cursive;
  font-size: 17px;
}

.portada{
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.postres {
  color: white;
  margin: 0 16%;
}

.header {
  background: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logotipo{
  margin: 0;
}

.logo{
  width: 250px;
}
.contenedor {
  max-width: 800px;
  margin: auto;
}

.cheesecake{
    border-radius: 20px;
    overflow: hidden;
}

.frutosrojos h3{
  margin: 10px 0 0 105px;
}

.limon h3{
  margin: 10px 0 0 200px;
}

.maracuya h3{
  padding-left: 450px;
  margin-top: 12px;
  margin-bottom: 0;
}

.oreo h3{
  padding-left: 480px;
  margin-top: 12px;
  margin-bottom: 0;
}

.arequipe h3{
  margin: 10px 0 0 190px;
}

.frutosrojos, .limon, .arequipe, .maracuya, .oreo{
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  height: 250px;
}

.frutosrojos img, .limon img, .arequipe img{
  border-radius: 50px;
  float: right;
  width: 240px;
  height: 200px;
  position: relative;
  top: -55px;
}

.oreo img, .maracuya img{
  border-radius: 50px;
  float: left;
  width: 240px;
  height: 200px;
  position: relative;
  top: -55px;
}

.arequipe p, .limon p, .frutosrojos p{
  padding: 0 320px 0 40px;
  margin-top: 15px;
}

.oreo p, .maracuya p{
  padding: 0 40px 0 320px;
  margin-top: 15px;
}

.footer {
  background: black;
  font-size: 15px
}

.redsocial{
  font-size: 16px;
  margin-left: 10px;
}

.redsocial p a, .redsocial a span{
  font-size: 11px;
  padding-left: 5px;
}

.contacto img, .contacto strong {
  display: inline-block;
}

.img-footer{
  margin: 0 45px 0 45px;
  width: 150px;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto a, .contacto p{
  margin: 10px 0px 10px 0;
}

.footer .contenedor-footer{
  margin: auto;
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contenedor-img-footer{
  margin: 0;
}

.formulario{
  display: flex;
  width: auto;
  padding-top: 50px;
}

.col1, .col2{
  display: flex;
  flex-direction: column;
}

.col1{
  margin-right: 40px;
}

.col2{
  align-items: flex-start;
  margin-right: 10px;
}

.formulario label{
  margin-bottom: 10px;
}

.formulario label, .intereses{
  margin-top: 15px;
}
.intereses{
  display: flex;
  flex-direction: column;
}

.col2 textarea{
  height: 80px;
  width: 90%;
  margin-right: 10px;
}

.intereses label{
  font-size: 12px;
  margin: 0;
}

.label-otros{
  margin-left: 12px;
}

.oreo:hover, .frutosrojos:hover, .limon:hover, .maracuya:hover, .arequipe:hover{
  transform: scale(1.2);
}

.conocenos:hover, .btn-enviar:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 960px){
  .oreo:hover, .frutosrojos:hover, .limon:hover, .maracuya:hover, .arequipe:hover{
    transform: scale(1.1);
  }
}

@media screen and (max-width: 890px){
  .logo-nombre{
    display: none;
  }
  .contenedor{
    max-width: 700px;
  }
  .title-b{
    font-size: 40px;
  }

  .frutosrojos h3{
    margin: 10px 0 0 68px;
  }
  .limon h3{
    margin: 10px 0 0 150px;
  }
  .maracuya h3{
    padding-left: 420px;
    margin: 12px 0 0 0;
  }
  .oreo h3{
    padding-left: 450px;
    margin: 10px 0 0 0;
  }
  .arequipe h3{
    margin: 10px 0 0 145px;
  }
  .arequipe p, .limon p, .frutosrojos p {
    padding: 0 305px 0 25px;
    font-size: 15px;
    margin-top: 10px;
  }
  .oreo p, .maracuya p{
    padding: 0 20px 0 315px;
    font-size: 15px;
    margin-top: 10px;
  }
  .frutosrojos img, .limon img, .arequipe img{
    top: -50px;
  }
  .oreo img, .maracuya img{
    top: -50px;
  }
  .btn-enviar{
    margin-left: 190px;
  }
}

@media screen and (max-width: 800px){
  .header{
    padding: 0 20px;
  }
  .logo{
    width: 200px;
  }
  .logo-nombre{
    display: none;
  }
  .titulo{
    margin: 15px 0 10px 0;
    font-size: 50px;
  }
  .portada{
    margin: 10px 2%;
  }
  .contenedor{
    max-width: 600px;
  }
  .title-a{
    margin:0 0 10px 0;
    font-size: 23px;
  }
  .conocenos{
    margin: 0 0 0 70%;
  }
  .postres{
    text-align: center;
  }
  .frutosrojos, .limon, .arequipe, .maracuya, .oreo{
    height: auto;
  }
  .frutosrojos h3, .limon h3, .maracuya h3, .oreo h3, .arequipe h3{
    margin: 10px 0 10px 0px;
    padding: 0;
  }
  .arequipe p, .limon p, .frutosrojos p {
  padding: 0 280px 0 40px;
  font-size: 15px;
  text-align: justify;
  }
  .oreo p, .maracuya p {
  padding: 0 40px 0 280px;
  font-size: 15px;
  text-align: justify;
  }
  .frutosrojos img, .limon img, .arequipe img{
    width: 200px;
    height: 170px;
    top: 0;
  }
  .oreo img, .maracuya img {
    width: 200px;
    height: 170px;
    top: 0;
  }
  .footer .contenedor-footer{
    padding: 0;
  }
  .img-footer{
    margin: 45px;
  }
  .contacto{
    display: block;
  }
  .formulario{
   flex-direction: column;
   padding: 0;
  }
  .col1 input{
    width: 260px;
  }
  .intereses input{
    width: auto;
  }

}

@media screen and (max-width: 693px){
  .titulo{
    font-size: 45px;
  }
  .title-a{
    font-size: 21px;
  }
  .oreo:hover, .frutosrojos:hover, .limon:hover, .maracuya:hover, .arequipe:hover{
    transform: none;
  }
}

@media screen and (max-width: 599px){
  .titulo{
    font-size: 40px;
  }
  .title-a{
    font-size: 19px;
  }

  .arequipe p, .limon p, .frutosrojos p, .oreo p, .maracuya p{
  font-size: 14px;
  }
}

@media screen and (max-width: 540px){
  .conocenos{
    margin: 20px 0 0 0;
    padding: 10px 40px;
  }
  .portada{
    text-align: center;
  }
  .titulo{
    text-align: center;
    font-size: 35px;
  }
  .title-a{
    font-size: 16px;
    text-align: justify;
    padding: 0;
  }
  .contenedor{
    max-width: 400px;
  }
  .frutosrojos img, .limon img, .arequipe img,  .oreo img, .maracuya img {
    float: none;
  }
  .arequipe p, .limon p, .frutosrojos p, .oreo p, .maracuya p {
        padding: 10px 40px 20px 40px;
  }
  .footer .contenedor-footer{
    display: block;
    max-width: 300px;
  }
  .contacto {
    margin: 0 auto;
  }
  .contenedor-img-footer{
    text-align: center;
  }
  .img-footer{
    width: 200px;
    margin-bottom: 10px;
  }
  .col1, .col2{
    margin: 0;
  }
  .formulario{
    display: block;
    margin: 0 auto;
  }
  .btn-enviar {
    margin-left: 80px;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 450px){
  .header{
    flex-direction: column;
    text-align: center;
  }

  .menu{
    width: 100%;
    border-top: 1px solid white;
    margin-top: 20px;
    font-size: 30px
  }
  .menu ul{
    margin: 10px 0;
  }
  .menu ul li{
    margin: 10px;
  }
  .contenedor{
    max-width: 300px;
  }
}
